<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>app.rise.menubar</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Rise.app/Contents/MacOS/Rise</string>
		<string>--menubar</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>WorkingDirectory</key>
	<string>/Users/ethan/Library/Application Support/Rise</string>
	<key>StandardOutPath</key>
	<string>/Users/ethan/Library/Application Support/Rise/data/rise-menubar.out.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/ethan/Library/Application Support/Rise/data/rise-menubar.err.log</string>
</dict>
</plist>
